.head{
    border-left: 4px solid crimson;
    width: 50%; }

    #first-mission{
        background-color: rgb(167, 245, 234);
        border-radius: 5%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0,auto;
    }
    #second-mission{
        
        background-color: rgb(240, 179, 240);
        margin: 0,auto;
        border-radius: 5%;
        padding-left: 5%;
        padding-right: 5%;
        
        background-position: center;
    
    }
    #third-mission{
        
        background-color: rgb(147, 241, 147);
        border-radius: 5%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0,auto;
    }
h1{
    font-size: 60px;
}
.button1{
    text-decoration:none ;
    background-image: linear-gradient(rgb(219, 211, 100),rgb(236, 65, 150));
    padding: 8px;
    color: white;
}
.hotpink{
    color: hotpink;
}
.white{
    color: white;
}
span{
    text-align: center;
}
.fletchbox{
    display: flex;   
}

.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 50%;
    padding-left: 50px;
}

body{
    background-image: url(myimages/top-banner.png);
    background-repeat: no-repeat;
}
footer {
    This is designed by Rabbi Ahemed
}
.coding{
    margin-top: 100px;
}
footer p{
    color: rgb(34, 235, 158) ;
    text-align: center;
    background-color: yellow;
    padding: 30px;
    margin: 0%;

}